<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>OOP-Semesterprojekt</title>
</head>
<h1 align="center">OOP-Semesterprojekt</h1>
<body id="hintergrund">
<br>
<nav>
    <a href="Dokumentation.pdf">Dokumentation als PDF ansehen</a>
    <a href="produkt.html">Alle Produkte</a>
    <a href="elektronik.html">Alle Elektronikprodukte</a>
    <a href="lebensmittel.html">Alle Lebensmittelprodukte</a>
    </nav><br><br>
    <h1>Inhalt</h1>
    <ul>
        <li>Einleitung</li>
        <li>Schnellstart-Guide</li>
        <li>Architektur</li>
        <ul>
            <li>Klassendiagramm nach UML-Standard</li>
            <li>Software-Design-Pattern: MVC-Design-Pattern</li>
            <li>Abbildung der CRUD-Operationen</li>
            <li>Persistenz der Datenbank</li>
        </ul>
        <li>Anwendungsdetails</li>
        <ul>
            <li>Ein Produkt anlegen (CREATE)</li>
        </ul>
    </ul>
    <h1>Einleitung</h1>
    <p>
        Während der Corona-Pandemie im Jahr 2020 kam es zu einem Paradigmenwechsel: Von der sogenannten Work-Life-Balance
        wurde übergegangen in die Work-Life-Integration. Für viele Menschen bedeutet dies, digitale Arbeit für ihr
        Unternehmen in den eigenen vier Wänden zu verrichten. Damit einher geht unter anderem, zahlreiche neue Produkte
        in den eigenen Haushalt zu integrieren. Einen mobilen Computer zum Beispiel, eine stationäre Dockingstation, ein
        kabelgebundenes oder kabellose Headset, eine weitere Maus, eine weitere Tastatur, mehr Kabel, mehr Akkus, mehr
        Elektronik. Außerdem bedeutet das Arbeiten von zu Hause, auch die Nahrungsaufnahme in den eigenen vier Wänden
        durchzuführen. Kurzum: Durch den coronabedingten Paradigmenwechsel verwenden Menschen auf eine neue Art
        Elektronikprodukte und Lebensmittelprodukte.<br><br>Die im Folgenden beschriebene Anwendung soll es ihren
        Anwendern ermöglichen, Tabellen anzulegen für Elektronik- und Lebensmittelprodukte, bestehende Daten zu
        aktualisieren, auszugeben oder zu löschen.
    </p>
    <h1>Schnellstart-Guide</h1>
    <p>Wenn Sie diesen Abschnitt sehen können, dann benötigen Sie keinen Schnellstart-Guide mehr. Wenn Sie diesen
        Abschnitt nicht sehen können, dann hat der Schnellstart-Guide wohl nicht geholfen ...</p>
    <h1>Architektur</h1>
    <p>Kernkomponente der vorliegenden Anwendung ist das Java-Framework Spring Boot. Die Anwendung bietet
        REST-Schnittstellen an. Dabei werden Daten persistent in einer H2-Datenbank gespeichert, das Mapping von
        Java-Klassen auf Datenbanktabellen erfolgt über Hibernate.</p>
    <h2>Klassendiagramm nach UML-Standard</h2>
    <p>Die Anwendung arbeitet mit einer Basisklasse Produkt und den daraus abgeleiteten Unterklassen Lebensmittelprodukt
        und Elektronikprodukt. <br><br>Vorgriff auf den folgenden Abschnitt MVC-Design-Pattern: Die Klassen fungieren
        als Modell und enthalten ausschließlich Attribute mit der Sichtbarkeit private sowie Getter und Setter mit der
        Sichtbarkeit public. Der Übersicht wegen wurden im Klassendiagramm nicht alle Getter und Setter aufgeführt.
    </p><img src="OOP-Semesterprojekt-Klassendiagramm.jpg" alt="Klassendiagramm nach UML-Standard"><br><br>
    <h2>Software-Design-Pattern: MVC-Design-Pattern</h2>
    <p>Die Anwendung wurde strukturiert nach dem Model-View-Controller-Pattern, kurz: MVC-Pattern. Es gibt die im
        Abschnitt Klassendiagramm nach UML-Standard vorgestellten Klassen Produkt, Lebensmittelprodukt und
        Elektronikprodukt, wobei die beiden zuletzt genannten aus der erstgenannten abgeleitet sind. Dabei enthalten
        diese drei Klassen ausschließlich Attribute, Getter und Setter. Die drei Klassen befinden sich im Package model.
        <br><br>
        View in MVC steht für die Visualisierung der Daten, welche im Model enthalten sind. Die Visualisierung der Daten
        erfolgt in der Anwendung über die Klasse Objektdatenbank.java, welche Methoden enthält, die wiederum die
        verschiedenen REST-Schnittstellen aufruft, um die CRUD-Operationen einmal auszuführen. CRUD steht für:
        Create, Read, Update, Delete. Die Daten werden dabei über eine Demo-Anwendung, welche in der Klasse
        Anwendung.java enthalten ist, in einem Terminal-Fenster auf dem Bildschirm ausgegeben.
        <br><br>
        Der Fluss der Daten wird verwaltet von Controllern. Die Anwendung bietet sowohl Spring-MCV-Controller, zu
        erkennen an der Annotation @Controller, als auch RESTful-Web-Service-Controller, welche zu erkennen sind an der
        Annotation @RestController. Die beiden Controller unterscheiden sich unter anderem in der Art und Weise wie der
        HTTP-Response-Body erstellt wird. Ein Spring-MVC-Controller kann Views zurückgeben, ein
        RESTful-Web-Service-Controller gibt ein Objekt zurück und Daten werden im JSON-Format direkt in die HTTP-Antwort
        geschrieben. Durch das Anbieten diverser Schnittstellen kann die hier beschriebene Anwendung in ebenso
        diverse Systeme eingebunden und von diversen Systemen aufgerufen werden. Controller werden im Package controller
        abgelegt.<br><br>
    </p>
    <h2>Abbildung der CRUD-Operationen</h2>
    <p>Um zum Beispiel ein neues Produkt-Objekt in der im Abschnitt Architektur erwähnten Datenbank zu speichern, wird
        ein POST-Request an die Schnittstelle /produkt gesendet. Die Objekteigenschaften werden dem HTTP-Request-Body
        entnommen. Der Controller ruft anschließend einen Service auf – Services werden abgelegt im Package service –
        und dieser Service wiederum führt eine Methode aus einem Repository aus. Repositories werden abgelegt im Package
        repository, wobei jedes Repository ein Interface ist, welches das JpaRepository implementieren. Service und
        Repository werden verknüpft über die Annotation @Autowired.
    </p>
    <h2>Persistenz der Datenbank</h2>
    <p>Die Anwendung speichert Daten in einer H2-Datenbank. In der Standardkonfiguration ist diese nicht persistent,
        sondern schreibt Daten in den flüchtigen Arbeitsspeicher, sodass diese nach einem erneuten Starten der Anwendung
        nicht wieder verfügbar sind. Einstellungen an der Datenbank werden in der Datei application.properties
        vorgenommen, welche im Ordner resources abgelegt ist. In der vorliegenden Konfiguration wird eine Persistenz
        hergestellt über die Einstellung:<br><br>
        <code>spring.datasource.url=jdbc:h2:./src/main/resources/datenbank;</code><br><br>

        Damit erfolgt die Anweisung, im aktuellen Projektverzeichnis im Ordner [...]/resources eine Datei datenbank.mv.db
        anzulegen. Diese Datei erscheint, sobald die Ausführung der Anwendung das erste Mal gestoppt wurde. Durch die
        weiteren Einstellungen in der Konfigurationsdatei wird sich bei jedem weiteren Start der Anwendung mit dieser
        Datei verbunden und diese aktualisiert.
    </p>
    <h1>Anwendungsdetails</h1>
    <p>Die Klasse Anwendung.java enthält eine Demo-Anwendung, welche Objekte vom Typ Produkt, Lebensmittelprodukt und
        Elektronik mittels REST-Schnittstelle in einer H2-Datenbank erstellt (create), ausliest (read), aktualisiert
        (update) und löscht (delete). In den folgenden Abschnitten wird beschrieben, wie die Schnittstellen zu bedienen
        sind, um selbst CRUD-Operationen zu veranlassen.<br><br>
        Voraussetzung für das Bedienen der Schnittstellen ist, dass die Anwendung wie im Abschnitt Die Anwendung das
        erste Mal starten beschrieben gestartet wird. Beim Starten der Anwendung wird ein lokaler Tomcat-Server
        initialisiert, welcher auf Port 8080 lauscht. Um zu verifizieren, dass die Anwendung ordnungsgemäß gestartet
        wurde, wird zunächst http://localhost:8080/ in einem Webbrowser aufgerufen. Daraufhin erscheint eine
        Weboberfläche, welche unter anderem diese Dokumentation enthält sowie Links zum Ausgeben von Tabellen auf dem
        Bildschirm.<br><br>
        Anschließend können die Schnittstellen nun wie in den folgenden Abschnitten bedient werden.<br><br>
        <i>Hinweis: Der Übersicht wegen werden die praktischen Beispiele demonstriert mit der Klasse Produkt und einer
            Kommandozeileneingabe in Windows PowerShell</i>.
    </p>
    <h2>Ein Produkt anlegen (CREATE)</h2>
    <p>Ein generisches Produkt wird angelegt mittels POST-Request an die Schnittstelle /produkt. Elektronik- und
        Lebensmittelprodukte werden mittels POST-Request an die Schnittstelle /elektronik bzw. /lebensmittel gespeichert.
        <br><br>
        Der Übersicht und Bedienfreundlichkeit wegen wird empfohlen, für das Versenden von HTTP-Anfragen das Programm
        "Postman" (externer Link: <a href="https://www.postman.com/downloads/" title="Postman herunterladen">Postman Downloadseite</a> )
        zu verwenden. Alternativ kann eine bereits vorinstallierte Kommandozeileneingabe wie Linux Shell oder Windows
        PowerShell verwendet werden.<br><br>
        Es wird angenommen, dass die Anwendung in den meisten Fällen auf Windows-Systemen ausgeführt wird, deswegen
        werden im Folgenden Windows-Befehle demonstriert. Linux-Benutzer verwenden cURL.<br><br>
        Beim Aufbau der HTTP-Anfragen muss das JSON-Format eingehalten werden, der Request-Body besteht demnach unter
        anderem aus <code>"attributname":"attributwert"</code>. Die Attributnamen sind den Klassendiagrammen aus dem
        Abschnitt Klassendiagramm nach UML-Standard zu entnehmen.<br><br>
        <i>Die folgende Windows-PowerShell-Eingabe kann markiert, kopiert und mit STRG + SHIFT + V in die Windows
            PowerShell eingefügt werden.</i><br><br>
        <code>Invoke-WebRequest -UseBasicParsing http://localhost:8080/produkt -ContentType "application/json" -Method
            POST -Body '{"bezeichnung":"erstes Produkt", "preis":"123.456", "gewicht":"789.101", "hersteller":"Dokumentation",
            "fertigungsTag":"2021-05-29", "lagerungsTemperatur":"20.21"}'</code>
    </p>
    <p></p>
</body>
</html>