<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>OOP-Semesterprojekt</title>
</head>
<body>
    <h1>OOP-Semesterprojekt</h1>
    <a href="produkt.html">Produkttabelle</a>
    <h1>Inhalt</h1>
    <ul>
        <li>Einleitung</li>
        <li>Schnellstart-Guide</li>
        <li>Architektur</li>
    </ul>
    <h1>Einleitung</h1>
    <p>
        Während der Corona-Pandemie im Jahr 2020 kam es zu einem Paradigmenwechsel: Von der sogenannten Work-Life-Balance
        wurde übergegangen in die Work-Life-Integration. Für viele Menschen bedeutet dies, digitale Arbeit für ihr
        Unternehmen in den eigenen vier Wänden zu verrichten. Damit einher geht unter anderem, zahlreiche neue Produkte
        in den eigenen Haushalt zu integrieren. Einen mobilen Computer zum Beispiel, eine stationäre Dockingstation, ein
        kabelgebundenes oder kabellose Headset, eine weitere Maus, eine weitere Tastatur, mehr Kabel, mehr Akkus, mehr
        Elektronik. Außerdem bedeutet das Arbeiten von zu Hause, auch die Nahrungsaufnahme in den eigenen vier Wänden
        durchzuführen. Kurzum: Durch den coronabedingten Paradigmenwechsel verwenden Menschen auf eine neue Art
        Elektronikprodukte und Lebensmittelprodukte.<br><br>Die im Folgenden beschriebene Anwendung soll es ihren
        Anwendern ermöglichen, Tabellen anzulegen für Elektronik- und Lebensmittelprodukte, bestehende Daten zu
        aktualisieren, auszugeben oder zu löschen.
    </p>
    <h1>Schnellstart-Guide</h1>
    <p>Wenn Sie diesen Abschnitt sehen können, dann benötigen Sie keinen Schnellstart-Guide mehr. Wenn Sie diesen
        Abschnitt nicht sehen können, dann hat der Schnellstart-Guide wohl nicht geholfen ...</p>
    <h1>Architektur</h1>
    <p></p>
</body>
</html>