<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Lebensmittelprodukte</title>
</head>
<body>
<nav>
    <a href="/">Dokumentation</a>
    <a href="produkt.html">Alle Produkte</a>
    <a href="elektronik.html">Alle Elektronikprodukte</a>
</nav><br><br>
<table>
    <tr>
        <th>ID</th>
        <th>Bezeichnung</th>
        <th>Preis</th>
        <th>Gewicht</th>
        <th>Hersteller</th>
        <th>Fertigungstag</th>
        <th>Lagerungstemperatur</th>
        <th>Mindesthaltbarkeitsdatum</th>
        <th>Vegan</th>
        <th>Vegetarisch</th>
        <th>Tierisch</th>
        <th>Glutenfrei</th>
        <th>Laktosefrei</th>
        <th>Zuckerfrei</th>
        <th>Inhaltsstoffe</th>
    </tr>
    <tr th:each="lebensmittelprodukt : ${alleLebensmittel}">
        <th class="Tabble" th:text="${lebensmittelprodukt.id}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.bezeichnung}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.preis}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.gewicht}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.hersteller}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.fertigungsTag}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.lagerungsTemperatur}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.mindesthaltbarkeitsdatum}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.vegan}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.vegetarisch}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.tierisch}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.glutenfrei}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.laktosefrei}"></th>
        <th class="Tabble" th:text="${lebensmittelprodukt.zuckerfrei}"></th>
        <th class="Tabble" th:text="${#lists.sort(lebensmittelprodukt.inhaltsstoffe)}"></th>
    </tr>
</table>

</body>
</html>