<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css" type="text/css">
        <title>Alle Produkte</title>
    </head>
    <body id="hintergrund">
        <nav>
            <a href="/">Dokumentation</a>
        </nav><br><br>
        <table>
            <tr>
                <th>ID</th>
                <th>Bezeichnung</th>
                <th>Preis</th>
                <th>Gewicht</th>
                <th>Hersteller</th>
                <th>Fertigungs Tag</th>
                <th>Lagerungs Temperatur</th>
            </tr>
            <tr th:each="produkt : ${alleProdukte}">
                <th th:text="${produkt.id}"></th>
                <th th:text="${produkt.bezeichnung}"></th>
                <th th:text="${produkt.preis}"></th>
                <th th:text="${produkt.gewicht}"></th>
                <th th:text="${produkt.hersteller}"></th>
                <th th:text="${produkt.fertigungsTag}"></th>
                <th th:text="${produkt.lagerungsTemperatur}"></th>
            </tr>
        </table>
    </body>
</html>